body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./images/7007.jpg');
  background-size: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header{
  display:  flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: aliceblue;
  border: 1px solid white;
  box-shadow: 0 0 3px 2px;
  align-items: center;
  width: 100%;
}
.logo{
  width: 30px;
}
.logo:hover{
  box-shadow: 0 0 2em 0px rgba(0, 0, 0, 0.4);
  background-color: transparent;
}
.header-center img{
  padding: 20px;
}
.header-right img{
  padding: 10px;
}

.name-container{
  text-align: left;
  width: 100%;
}
.all-cards{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-detail{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}
.card-detail h5{
  font-size: 1em;
}

.profile-container{
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
  border: 1px solid rgb(68, 100, 175);
  box-shadow: 0 0 2em 0px rgba(0, 0, 0, 0.4);
  background-color: white;  
  padding: 10px;
}
.profile-container:hover{
  box-shadow: 0 0 4em 0px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}

.card-detail{
  padding: 0;
}

.card-detail>p{
  margin-top: -3%;
  text-align: left;
  font-size: 1em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.main-images{
  width: 100%;
}
.reaction-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.reaction-container>.like-container > button{
  width: 20%;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
}
.reaction{
  width: 35px;
  color: red;
}
.like-container{
  display: flex;
  justify-content: space-between
}
.footer{
  display: flex;
  flex-direction: row;
  background-color: aliceblue;
  border: 1px solid white;
  box-shadow: 0 0 3px 2px;
  justify-content: space-between;
  align-items: center;
  color: blue;
  width: 100%;
}

.footer-right ul{
  display: flex;
  flex-direction: row;
  list-style: none;
}
.footer-right li{
  padding: 5px;
}
@media (max-width:500px) {
  .header{
    display: flex;
    flex-direction: column;
  }
  .all-cards{
    width: 100%;
  }
  .profile-container{
    width: 90%;
  }
  .footer{
    display: flex;
    flex-direction: column;
  }
  .logo{
    display: none;
  }
  .fblogo{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 20%;
  }
}

@media (max-width:950px) {
  .header{
    display: flex;
    flex-direction: column;
  }
  .all-cards{
    width: 100%;
  }
  .profile-container{
    width: 90%;
  }
  .footer{
    display: flex;
    flex-direction: column;
  }
  .logo{
    display: none;
  }
  .fblogo{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 20%;

  }
}

